<plist>
  <dict>
    <key>Signature</key>
    <data>ASV93iBnSBld6VKbJc/fvL3V7hg7YzJ2RQbc7KYC9RXVOx8uiI9uN+2Pa1PEb9Xxn8snqR5VIXSkeXxIVmxF46BuVn9LlIp79eOaiOjQ+fI6jPqMs4tpHdmNOs5bMvlDi08yOH9UilI2A07ryAGoHOd6kzlCnALy+iCPxQ74Ixs=</data>
    <key>public_key</key>
    <string>AEFD4A9B137D5EC3D80B11094948770D342E87CBF81E418A54FB61BBCDB8D40F241E242822C50327E20003EE57CCA877BF35A2A55A0EB06537F369B722C9DAAB943F33593CC458A7055C0D80CAE9112FD0F4BBC53AD1FEE67C83DDED354216F30EA7126200DE83FAEB7A9880647BFE16B9A0406C7B90D20315F011CCBB85070B</string>
    <key>components</key>
    <string>beta;switch;switch.build_module;switch.ci_build;ci_build;Windows;Windows.build_module;beta23;debug.internal;ff_e_filt+fx</string>
    <key>disabled_features</key>
    <string>no_beta_access</string>
    <key>expiry_date</key>
    <string>2100-04-19 00:00:00 UTC</string>
    <key>id</key>
    <integer>2260884</integer>
    <key>email</key>
    <string>switch.homebrew@rocks.forever</string>
    <key>name</key>
    <string>Russian Hacker</string>
    <key>status</key>
    <string>success</string>
  </dict>
</plist>